{% extends 'base.html' %}
{% block content %}


<!-- If you're logged in, you have the option to log out.-->
<!-- The second part of this code should never be available, it is just there as a failsafe.-->
<div>
    {% if user.is_authenticated %}
    <button type="submit">
        <a href="{% url 'The Door:signout' %}">
            Logout
        </a>
    </button>
    {% else %}
    <button type="submit">
        <a href="{% url 'The Door:signin' %}">
            Login
        </a>
    </button>
    {% endif %}
</div>


<!-- Adds two simple buttons to get you to profile_list.html and profile.html-->
<div>
    <a href="{% url 'The Door:profile_list' %}">
        <button>
            All Profiles
        </button>
    </a>
</div>
<div>
    <a href="{% url 'The Door:profile' request.user.profile.id %}">
        <button>
            My Profile
        </button>
    </a>
</div>

<h4>Timeline: </h4>

<!-- Shows all of the posts from all of your friends on your timeline-->
{% for friend in user.profile.friends.all %}
    {% for tweet in friend.user.posts.all %}
    <li>{{tweet.user.username}}: {{tweet.body}} ({{tweet.created_at}}) </li>
    {% endfor %}
{% endfor %}

<h2>Post something!</h2>
<div>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="button is-success" type="submit">Post!</button>
    </form>
</div>



{% endblock content %}