
<!-- Shows all of the users in one big list-->
{% extends 'base.html' %}

{% block content %}
<header>
    <style>
        div{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
            
        }
    </style>
</header>

<div class="column">

{% for profile in profiles %}

    <div>
        <a href="{% url 'The Door:profile' profile.id %}">
            <p>{{ profile.user.username}}</p>
        </a>
    </div>

{% endfor %}

</div>

{% endblock content %}
