{% extends 'base.html' %}
{% block content %}
<body>
    <h2>Sign Up</h2>

    <form method="post">
        {% csrf_token %}
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Create a Username" required>
            <br>

            <label for="">First Name</label>
            <input type="text" id="firstname" name="firstname" placeholder="Enter Your First Name" required>
            <br>

            <label for="">Last Name</label>
            <input type="text" id="lastname" name="lastname" placeholder="Enter Your Last Name" required>
            <br>

            <label for="">Password</label>
            <input type="password" id="pass1" name="pass1" placeholder="Create a Password" required>
            <br>

            <label for="">Confirm Password</label>
            <input type="password" id="pass2" name="pass2" placeholder="Confirm Your Password" required>
            <br>
        <button type="submit" formmethod="post">Sign Up</button>
    <form>
</body>
{% endblock %}